<html>
<head>
	<title>Your Dashboard</title>
</head>
<body>
	<h1> Welcome to your Dashboard</h1>
	<br><br>
	<a href="/weather">View your weather</a>
	<a href="/NYT">View your articles</a>
	<a href="/twitter">View Twitter</a>

</body>
</html>

