<html>
<head>
	<title>NYT Article</title>
</head>
<body>

<h3><%= article["headline"] %></h3><br>

<img src="<%= article['image'] %>">
<%= article["snippet"] %><br>
<a href="<%= article['web_url']%>">Read full article</a><br>
</p>




</body>
</html>