<html>
<head>
	<title></title>
</head>
<body>
	Enter Keywords you want to use to search the NYTimes Database
	<form method="POST" action="/NYT">
		<input type="text" name="search_term">
		<button>Add Search</button>
	</form>

</body>
</html>