<html>
<head>
	<title>Add new Search Term</title>
</head>
<body>
<h1> Add new Search Term</h1>

<form method="POST" action="/twitter">
	Search term: <input type="text" name="search_term">
	<button>Add search term</button>
</form>



</body>
</html>