<html>
<head>
	<title>Add a New Location</title>
</head>
<body>
<h1>New Location for Weather Conditions Search</h1>

<form method="POST" action="/weather">
	City: <input type="text" name="city" placeholder="Enter city..">
	State: <input typt="text" name="state" placeholder="ex: NY">
	<button>Add location</button>
</form>






</body>
</html>