@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  background-image: url(http://www.zingerbugimages.com/backgrounds/wrinkled_white_paper_background_1800x1600.jpg);
  font-family: 'Lato';
  max-width:1050px;
  overflow: scroll;
}
header{
 background-color: rgba(114, 93, 62, 0.3);
 max-width:1050px;

}
div{
	position: relative;
	overflow: scroll;
}
.links{
	display: inline;
	margin: auto;
}

.weather{
	display: inline-block;
	text-align: left;

}
.news_container{
	width: 1050px;
	height: 700px;

}
.NYTimes_feed{
	display: inline-block;
	text-align: center;
	width: 200px;
	height: 350px;
	border-style: solid;
	border-radius: 10px;
	background-color: rgba(139, 114, 89, 0.5)
}
.twitter_index{
	width: 1050;
	height: 700px;
}
.twitter{
	border-bottom: outset;

}
.ten{
	border: solid;
	background-color: rgba(188, 181, 175, 0.3);
	display: inline-block;
	height: 150px;
	width: 400px;
	
}
.divider{
	

}

li{
	display: inline;
}